<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.username %></h1>
    <p>Welcome to <%= user.username %>'s page!</p>
    <p>Email:  <%= user.email %></p>
    <p>Address:  <%= user.address %></p>


  </body>
</html>
